<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form action="/csvdata" method="POST">
                  <label for="name">
                       Csv file path:
                  </label>
                  <input type="text"
                         id="path"
                         name="path"
                         placeholder="Enter your csv path" required>
                    <button type="submit"
                                >
                              Give data
                        </button>
     </form>
</body>
</html>