<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
        <div class="container">
            <h1>Order Summary</h1>
            <p>Product_name : {{productname}} </p>
            <p>Product_quantity : {{quantity}} </p>
            <p>User_name : {{username}} </p>
            <p>Shipping_address : {{add}} </p>
            <p>Shipping_ph_no: {{contct}} </p>

        </div>
        <a href="/"><button>Go back to home</button></a>
</body>
</html>