<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGE</title>
</head>
<body>
           <div class="main">
            <h3>Age form</h3>
            <form id="form" action="/surveyresult">

                <!-- Details -->
                <div class="form-control">
                    <label for="name">
                        Name
                    </label>

                    <!-- Input Type Text -->
                    <input type="text" id="name" name="name"
                           placeholder="Enter your name" />
                </div>

                <div class="form-control">
                    <label for="email">
                        Email
                    </label>

                    <!-- Input Type Email-->
                    <input type="email" id="email" name="age"
                           placeholder="Enter your email" />
                </div>

                <div class="form-control">
                    <label for="age" >
                        Age
                    </label>

                    <!-- Input Type Text -->
                    <input type="text" id="age" name="age"
                           placeholder="Enter your age" />
                </div>

<!--                <div class="form-control">-->
<!--                    <label for="role">-->
<!--                        Which option best describes you?-->
<!--                    </label>-->

<!--                    &lt;!&ndash; Dropdown options &ndash;&gt;-->
<!--                    <select name="role" id="role">-->
<!--                        <option value="student">Student</option>-->
<!--                        <option value="intern">Intern</option>-->
<!--                        <option value="professional">-->
<!--                            Professional-->
<!--                        </option>-->
<!--                        <option value="other">Other</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-control">-->
<!--                    <label for="comment">-->
<!--                        Any comments or suggestions-->
<!--                    </label>-->

<!--                    &lt;!&ndash; multi-line text input control &ndash;&gt;-->
<!--                    <textarea name="comment" id="comment"-->
<!--                              placeholder="Enter your comment here">-->
<!--                    </textarea>-->
<!--                </div>-->

                <!-- Multi-line Text Input Control -->
                <button type="submit" value="submit">
                    Submit
                </button>
    </form>

      </div>
</body>
</html>